    <!--====== FOOTER PART START ======-->
    {% load static %} 
    
    <footer id="footer" class="footer-area bg_cover" style="background-image: url(assets/images/footer-bg.jpg)">
        <div class="container">
            <div class="footer-widget pt-30 pb-70">
                <div class="row">
                    <div class="col-lg-3 col-sm-6 order-sm-1 order-lg-1">
                        <div class="footer-about pt-40">
                            <a href="#">
                                <img src="{%  static 'Nextcloud_App/assets/images/logo1.png'%}" height="60px" width="150px" alt="Logo">
                            </a>
                            <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus, repudiandae! Totam, nemo sed? Provident.</p> 
                        </div> <!-- footer about -->
                    </div>
                    <div class="col-lg-3 col-sm-6 order-sm-3 order-lg-2">
                        <div class="footer-link pt-40">
                            <div class="footer-title">
                                <h5 class="title">Services</h5>
                            </div>
                            <ul>
                                <li><a href="#">Upload Your Data</a></li>
                                <li><a href="#">Save Your Events</a></li>
                                <li><a href="#">Other Services</a></li>
                               
                            </ul>
                        </div> <!-- footer link -->
                    </div>
                    <div class="col-lg-3 col-sm-6 order-sm-4 order-lg-3">
                        <div class="footer-link pt-40">
                            <div class="footer-title">
                                <h5 class="title">About Us</h5>
                            </div>
                            <ul>
                                <li><a href="#">Overview</a></li>
                                <li><a href="#">Why us</a></li>
                                <li><a href="#">Awards & Recognitions</a></li>
                                <li><a href="#">Team</a></li>
                            </ul>
                        </div> <!-- footer link -->
                    </div>
                    <div class="col-lg-3 col-sm-6 order-sm-2 order-lg-4">
                        <div class="footer-contact pt-40">
                            <div class="footer-title">
                                <h5 class="title">Contact Info</h5>
                            </div>
                            <div class="contact pt-10">
                                <p class="text">Akshaydeep, 146 Sathe Marg Near Mehadia Square, Dhantoli  <br>
                                    Nagpur,India.</p>
                                <p class="text">admin@cloud.virtualcaoffice.com</p>
                                <p class="text">+91  988 1164 000</p>

                                <ul class="social mt-40">
                                    <li><a href="https://www.facebook.com"><i class="lni-facebook"></i></a></li>
                                    <li><a href="https://www.instagram.com"><i class="lni-instagram"></i></a></li>
                                    <li><a href="https://www.linkedin.com"><i class="lni-linkedin"></i></a></li>
                                </ul>
                            </div> <!-- contact -->
                        </div> <!-- footer contact -->
                    </div>
                </div> <!-- row -->
            </div> <!-- footer widget -->
            <div class="footer-copyright text-center">
                <p class="text">© 2022 Crafted by <a href="https://uideck.com" rel="nofollow">Neubotics IT</a> All Rights Reserved.</p>
            </div>
        </div> <!-- container -->
    </footer>
    
    <!--====== FOOTER PART ENDS ======-->
    
    <!--====== BACK TOP TOP PART START ======-->

    <a href="#" class="back-to-top"><i class="lni-chevron-up"></i></a>

    <!--====== BACK TOP TOP PART ENDS ======-->  




    <!--====== Jquery js ======-->
    <script src="{% static 'Nextcloud_App/assets/js/vendor/jquery-1.12.4.min.js'%}"></script>
    <script src="{% static 'Nextcloud_App/assets/js/vendor/modernizr-3.7.1.min.js'%}"></script>
    
    <!--====== Bootstrap js ======-->
    <script src="{% static 'Nextcloud_App/assets/js/popper.min.js'%}"></script>
    <script src="{% static 'Nextcloud_App/assets/js/bootstrap.min.js'%}"></script>
    
    <!--====== Slick js ======-->
    <script src="{% static 'Nextcloud_App/assets/js/slick.min.js'%}"></script>
    
    <!--====== Isotope js ======-->
    <script src="{% static 'Nextcloud_App/assets/js/imagesloaded.pkgd.min.js'%}"></script>
    <script src="{% static 'Nextcloud_App/assets/js/isotope.pkgd.min.js'%}"></script>
    
    <!--====== Counter Up js ======-->
    <script src="{% static 'Nextcloud_App/assets/js/waypoints.min.js'%}"></script>
    <script src="{% static 'Nextcloud_App/assets/js/jquery.counterup.min.js'%}"></script>
    
    <!--====== Circles js ======-->
    <script src="{% static 'Nextcloud_App/assets/js/circles.min.js'%}"></script>
    
    <!--====== Appear js ======-->
    <script src="{% static 'Nextcloud_App/assets/js/jquery.appear.min.js'%}"></script>
    
    <!--====== WOW js ======-->
    <script src="{% static 'Nextcloud_App/assets/js/wow.min.js'%}"></script>
    
    <!--====== Headroom js ======-->
    <script src="{% static 'Nextcloud_App/assets/js/headroom.min.js'%}"></script>
    
    <!--====== Jquery Nav js ======-->
    <script src="{% static 'Nextcloud_App/assets/js/jquery.nav.js'%}"></script>
    
    <!--====== Scroll It js ======-->
    <script src="{% static 'Nextcloud_App/assets/js/scrollIt.min.js'%}"></script>
    
    <!--====== Magnific Popup js ======-->
    <script src="{% static 'Nextcloud_App/assets/js/jquery.magnific-popup.min.js'%}"></script>
    
    <!--====== Main js ======-->
    <script src="{% static 'Nextcloud_App/assets/js/main.js'%}"></script>
     <!--====== Main js ======-->
    <script src="{% static 'Nextcloud_App/assets/js/index.js'%}"></script>

    
</body>

</html>